LoginRegisterClient/App_WebReferences/VenueLoginServiceReference/STLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="STLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52845/STLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52845/STLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52845/STLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:52845/STLoginService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISTLoginService_VenueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueLogin" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_VenueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_VenueRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistration" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_VenueRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_AddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArtist" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_AddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArtistResponse" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_AddShowDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetail" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_AddShowDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="ISTLoginService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISTLoginService">
    <wsdl:operation name="VenueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISTLoginService/VenueLogin" message="tns:ISTLoginService_VenueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISTLoginService/VenueLoginResponse" message="tns:ISTLoginService_VenueLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VenueRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/ISTLoginService/VenueRegistration" message="tns:ISTLoginService_VenueRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISTLoginService/VenueRegistrationResponse" message="tns:ISTLoginService_VenueRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISTLoginService/AddArtist" message="tns:ISTLoginService_AddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISTLoginService/AddArtistResponse" message="tns:ISTLoginService_AddArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/ISTLoginService/AddShow" message="tns:ISTLoginService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISTLoginService/AddShowResponse" message="tns:ISTLoginService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISTLoginService/AddShowDetail" message="tns:ISTLoginService_AddShowDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISTLoginService/AddShowDetailResponse" message="tns:ISTLoginService_AddShowDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISTLoginService/GetArtists" message="tns:ISTLoginService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISTLoginService/GetArtistsResponse" message="tns:ISTLoginService_GetArtists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISTLoginService" type="tns:ISTLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VenueLogin">
      <soap:operation soapAction="http://tempuri.org/ISTLoginService/VenueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VenueRegistration">
      <soap:operation soapAction="http://tempuri.org/ISTLoginService/VenueRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArtist">
      <soap:operation soapAction="http://tempuri.org/ISTLoginService/AddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/ISTLoginService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShowDetail">
      <soap:operation soapAction="http://tempuri.org/ISTLoginService/AddShowDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/ISTLoginService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="STLoginService">
    <wsdl:port name="BasicHttpBinding_ISTLoginService" binding="tns:BasicHttpBinding_ISTLoginService">
      <soap:address location="http://localhost:52845/STLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>